
<div class="container-fluid">
    <div class="row">
        <div style="height: 90vh; width: fit-content;" class="col-lg-2 bg-warning d-flex flex-column p-3">
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/dashboard">Home</a>
            <a style="text-decoration: none;color: white;" class="mb-3 fw-bolder" routerLink="/users">Users</a>
            </div>
    <div class="col-lg-10">
        <h1>Edit User Form</h1>
        <form #addUserForm="ngForm" class="border mt-5 p-5 rounded">
            <div class="form-floating mb-3">
                <input #id="ngModel" name="id" [(ngModel)]="user.id"  type="text" class="form-control" id="floatingInputId" placeholder="Employee Id" pattern="[a-zA-z0-9]*" required readonly>
                <label for="floatingInputId">Employee Id</label>
            </div>
            <div *ngIf="id.invalid && id.touched" class="mb-3 text-danger fw-bolder">*Invalid  User Id</div>
    
            <div class="form-floating mb-3">
                <input #name="ngModel" name="name" [(ngModel)]="user.name" type="text" class="form-control" id="floatingInputName" placeholder="Employee Name" pattern="[a-zA-Z ]*" required>
                <label for="floatingInputName">Employee Name</label>
            </div>
            <div *ngIf="name.invalid && name.touched" class="mb-3 text-danger fw-bolder">*Invalid  User Name</div>
    
    
                <div class="form-floating mb-3">
                    <input #email="ngModel" name="email" [(ngModel)]="user.email" type="text" class="form-control" id="floatingInputMail" placeholder="Employee Mail" email required>
                    <label for="floatingInputMail">Employee Mail</label>
                </div>
                <div *ngIf="email.invalid && email.touched" class="mb-3 text-danger fw-bolder">*Invalid User  email</div>
    
    
                <div class="form-floating mb-3">
                    <select #status="ngModel" name="status" [(ngModel)]="user.status" class="form-control" id="floatingInputStatus" placeholder="Employye Status" required>
                        <option value="" hidden disabled selected></option>
                        <option value="1">Active</option>
                        <option value="0">Inactive</option>
    
                    </select>
                    <label for="floatingInputStatus">Employee Status</label>
                </div>
                <div *ngIf="status.invalid && status.touched" class="mb-3 text-danger fw-bolder">*Invalid User Status</div>
    
                    <div class="d-flex ">
                            <button (click)="updateUser()" [disabled]="addUserForm.invalid" class="btn btn-success">Update</button>
                            <button (click)="cancel(user.id)"  class="btn btn-danger ms-3">Cancel</button>
    
                    </div>
        </form>
    
    </div>
    </div>
    </div>